@using Models.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@StaticRescouces.ResourceUser.Website</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/User/assets/images/favicon.png">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/User/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/User/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="~/Content/User/assets/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/Content/User/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/Content/User/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/Content/User/assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Content/User/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="~/Content/User/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/User/assets/css/vendor/base.css">
    <link rel="stylesheet" href="~/Content/User/assets/css/style1.min.css">



    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

</head>

<body id="load_data">
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
    <!-- Start Header -->
    <header class="header axil-header header-style-2">

        <!--<div class="header-top-campaign">
        <!--<div class="container position-relative">
            <!--<div class="campaign-content">
                <div class="campaign-countdown"></div>-->
        <!---->
        <!---->@*<p>Open Doors To A World Of Fashion Get <a href="#">Get Your Offer</a></p>*@<!---->
        <!--</div>-->
        <!--</div>-->
        <!--@*<button class="remove-campaign"><i class="fal fa-times"></i></button>*@
        </div>-->
        <!-- Start Header Top Area  -->
        <div class="axil-header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-sm-3 col-5">
                        <div class="header-brand">
                            <a href="/" class="logo logo-dark">
                                <img src="@SettingHelper.GetValue("SettingLogo")" alt="Site Logo">
                            </a>
                            <a href="index.html" class="logo logo-light">
                                <img src="~/Content/User/assets/images/logo/logo-light.png" alt="Site Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-sm-9 col-7">
                        <div class="header-top-dropdown dropdown-box-style">
                            <div class="axil-search">
                                <button type="submit" class="icon wooc-btn-search">
                                    <i class="far fa-search"></i>
                                </button>
                                <input type="search" class="placeholder product-search-input" name="search2" id="search2" value="" maxlength="128" placeholder="@StaticRescouces.ResourceUser.BanDangTimKiemCaiGi...." autocomplete="off">
                            </div>
                            @*<div class="dropdown">
                                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        USD
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">USD</a></li>
                                        <li><a class="dropdown-item" href="#">AUD</a></li>
                                        <li><a class="dropdown-item" href="#">EUR</a></li>
                                    </ul>
                                </div>*@
                            @*@using (Html.BeginForm("ChangeCulture", "BaseUser"))
                                 {
                                     @Html.Hidden("returnUrl", Request.RawUrl)
                                     @Html.DropDownList("ddlCulture", new SelectList(new[]
                                {
                                    new {value = "vi", text=StaticRescouces.ResourceUser.VietNamese},
                                    new {value = "en", text=StaticRescouces.ResourceUser.English},
                                }, "value", "text", Session[Models.CommonConstants.CurrentCulture]), new { onchange = "this.form.submit();" })
                                 }*@

                            <div class="dropdown">
                                <button class="dropdown-toggle" type="button" id="ddlCultureBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                    @if (Session[Models.CommonConstants.CurrentCulture].ToString() == "vi")
                                    {
                                        <span>Vietnamese</span>
                                    }
                                    else
                                    {
                                        <span>English</span>
                                    }
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="ddlCultureBtn">
                                    <li><a class="dropdown-item" href="#" onclick="changeCulture('vi')">Vietnamese</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="changeCulture('en')">English</a></li>
                                    <!-- Add more languages as needed -->
                                </ul>
                            </div>

                            <script>
                                function changeCulture(culture) {
                                    // Perform any additional actions if needed
                                    document.getElementById('ddlCultureBtn').innerHTML = getLanguageText(culture);
                                    // Update the hidden input value
                                    document.getElementById('ddlCulture').value = culture;
                                    // Submit the form
                                    document.forms["cultureForm"].submit();
                                }

                                function getLanguageText(culture) {
                                    switch (culture) {
                                        case 'vi':
                                            return 'Vietnamese';
                                        case 'en':
                                            return 'English';
                                        // Add more cases for other languages
                                        default:
                                            return 'Language';
                                    }
                                }
                            </script>

                            @using (Html.BeginForm("ChangeCulture", "BaseUser", FormMethod.Post, new { id = "cultureForm" }))
                            {
                                @Html.Hidden("returnUrl", Request.RawUrl)
                                @Html.Hidden("ddlCulture", Session[Models.CommonConstants.CurrentCulture])
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top Area  -->
        <!-- Start Mainmenu Area  -->
        <div class="axil-mainmenu aside-category-menu">
            <div class="container">
                <div class="header-navbar">
                    <div class="header-nav-department">
                        @RenderSection("slide", required: false)
                    </div>
                    <div class="header-main-nav">
                        <!-- Start Mainmanu Nav -->
                        <nav class="mainmenu-nav">
                            <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                            <div class="mobile-nav-brand">
                                <a href="index.html" class="logo">
                                    <img src="~/Content/User/assets/images/logo/logo.png" alt="Site Logo">
                                </a>
                            </div>
                            @Html.Action("MenuTop", "Menu")
                        </nav>
                        <!-- End Mainmanu Nav -->
                    </div>
                    <div class="header-action">
                        <ul class="action-list">
                            <li class="axil-search d-sm-none d-block">

                                <a href="javascript:void(0)" class="header-search-icon" title="Search">
                                    <i class="flaticon-magnifying-glass"></i>
                                </a>
                            </li>
                            <li class="wishlist">
                                @if (!Request.IsAuthenticated)
                                {


                                }
                                else
                                {
                                    <a href="/account/profile#nav-downloads">
                                        <i class="flaticon-heart"></i>
                                    </a>
                                }
                            </li>
                            <li class="shopping-cart">
                                <a href="#" class="cart-dropdown-btn">
                                    <span id="checkout_items" class="cart-count">0</span>
                                    <i class="flaticon-shopping-cart"></i>
                                </a>
                            </li>
                            <li class="my-account">
                                <a href="javascript:void(0)">
                                    <i class="flaticon-person"></i>
                                </a>
                                <div class="my-account-dropdown">
                                    @if (!Request.IsAuthenticated)
                                    {


                                        <div class="login-btn">
                                            <a href="@Url.Action("Login", "Account")" class="axil-btn btn-bg-primary">@StaticRescouces.ResourceUser.dangnhap</a>

                                        </div>
                                        <div class="@Url.Action("Register", "Account")">@StaticRescouces.ResourceUser.String8 <a href="@Url.Action("Register", "Account")" class="btn-link">@StaticRescouces.ResourceUser.String9.</a></div>
                                    }
                                    else
                                    {
                                        <span class="title">@StaticRescouces.ResourceUser.thongtinnguoidung</span>
                                        <ul>
                                            <li>
                                                <a href="/account/profile">@User.Identity.Name</a>
                                            </li>
                                            @*<li>
                                                    <a href="#">Initiate return</a>
                                                </li>
                                                <li>
                                                    <a href="#">Support</a>
                                                </li>
                                                <li>
                                                    <a href="#">Language</a>
                                                </li>*@
                                        </ul>
                                        <div class="login-btn">
                                            <a href="javascript:document.getElementById('logOffForm').submit()" class="axil-btn btn-bg-primary">@StaticRescouces.ResourceUser.String10</a>
                                        </div>
                                        @*<div class="account/Register">No account yet? <a href="sign-up.html" class="btn-link">REGISTER HERE.</a></div>*@
                                    }

                                </div>
                            </li>
                            <li class="axil-mobile-toggle">
                                <button class="menu-btn mobile-nav-toggler">
                                    <i class="flaticon-menu-2"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Mainmenu Area  -->
    </header>

    @RenderBody()

    <div class="service-area">
        <div class="container">
            <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="~/Content/User/assets/images/icons/service1.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">@StaticRescouces.ResourceUser.GiaoHangNhanhChongAnToan</h6>
                            <p>@StaticRescouces.ResourceUser.HayKeVedichvucuaban</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="~/Content/User/assets/images/icons/service2.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">@StaticRescouces.ResourceUser.Dambaolaitien</h6>
                            <p>@StaticRescouces.ResourceUser.Trongvonggay</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="~/Content/User/assets/images/icons/service3.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">@StaticRescouces.ResourceUser.chinhsachhoantra24gio</h6>
                            <p>@StaticRescouces.ResourceUser.khongcocauhoi</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="~/Content/User/assets/images/icons/service4.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">@StaticRescouces.ResourceUser.hotrochatluongchuyennghiep</h6>
                            <p>@StaticRescouces.ResourceUser.hotrophucvu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Area  -->
    <footer class="axil-footer-area footer-style-2">
        <!-- Start Footer Top Area  -->
        <div class="footer-top separator-top">
            <div class="container">
                <div class="row">
                    <!-- Start Single Widget  -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">@StaticRescouces.ResourceUser.Hotro</h5>
                            @*<div class="logo mb--30">
                                    <a href="index.html">
                                        <img class="light-logo" src="~/Content/User/assets/images/logo/logo.png" alt="Logo Images">
                                    </a>
                                </div>*@
                            <div class="inner">
                                <p>
                                    685 Market Street, <br>
                                    Las Vegas, LA 95820, <br>
                                    United States.
                                </p>
                                <ul class="support-list-item">
                                    <li><a href="mailto:example@domain.com"><i class="fal fa-envelope-open"></i> @SettingHelper.GetValue("SettingEmail")</a></li>
                                    <li><a href="tel:@SettingHelper.GetValue("SettingHotline")"><i class="fal fa-phone-alt"></i> @SettingHelper.GetValue("SettingHotline")</a></li>
                                    <!-- <li><i class="fal fa-map-marker-alt"></i> 685 Market Street,  <br> Las Vegas, LA 95820, <br> United States.</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget  -->
                    <!-- Start Single Widget  -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">@StaticRescouces.ResourceUser.TaiKhoan</h5>
                            <div class="inner">
                                <ul>
                                    <li><a href="my-account.html">@StaticRescouces.ResourceUser.TaiKhoancuatoi</a></li>
                                    <li><a href="sign-up.html">@StaticRescouces.ResourceUser.DangNhapDangky</a></li>
                                    <li><a href="cart.html">@StaticRescouces.ResourceUser.Giohang</a></li>
                                    <li><a href="wishlist.html">@StaticRescouces.ResourceUser.Sanphamyeuthich</a></li>
                                    <li><a href="shop.html">@StaticRescouces.ResourceUser.tatcasanpham</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget  -->
                    <!-- Start Single Widget  -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">@StaticRescouces.ResourceUser.lienketnhanh</h5>
                            <div class="inner">
                                <ul>
                                    <li><a href="privacy-policy.html">@StaticRescouces.ResourceUser.chinhsachbaomat</a></li>
                                    <li><a href="terms-of-service.html">@StaticRescouces.ResourceUser.dieukhoansudung</a></li>
                                    <li><a href="#">@StaticRescouces.ResourceUser.cauhoithuonggap</a></li>
                                    <li><a href="/lien-he">@StaticRescouces.ResourceUser.lienhe</a></li>
                                    <li><a href="/tin-tuc">@StaticRescouces.ResourceUser.baiviet</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget  -->
                    <!-- Start Single Widget  -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">@StaticRescouces.ResourceUser.Taiapp</h5>
                            <div class="inner">
                                <span>@StaticRescouces.ResourceUser.Tietkiem3chivoiungdungvanguoidungmoi</span>
                                <div class="download-btn-group">
                                    <div class="qr-code">
                                        <img src="~/Content/User/assets/images/others/qr.png" alt="Axilthemes">
                                    </div>
                                    <div class="app-link">
                                        <a href="#">
                                            <img src="~/Content/User/assets/images/others/app-store.png" alt="App Store">
                                        </a>
                                        <a href="#">
                                            <img src="~/Content/User/assets/images/others/play-store.png" alt="Play Store">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget  -->
                </div>
            </div>
        </div>
        <!-- End Footer Top Area  -->
        <!-- Start Copyright Area  -->
        <div class="copyright-area copyright-default separator-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4">
                        <div class="social-share">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-discord"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="copyright-left d-flex flex-wrap justify-content-center">
                            <ul class="quick-link">
                                <li>© 2023. @StaticRescouces.ResourceUser.moiquyenduocbaoluuboi <a target="_blank" href="#">Việt</a>.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="copyright-right d-flex flex-wrap justify-content-xl-end justify-content-center align-items-center">
                            <span class="card-text">@StaticRescouces.ResourceUser.ChapNhancho</span>
                            <ul class="payment-icons-bottom quick-link">
                                <li><img src="~/Content/User/assets/images/icons/cart/cart-1.png" alt="paypal cart"></li>
                                <li><img src="~/Content/User/assets/images/icons/cart/cart-2.png" alt="paypal cart"></li>
                                <li><img src="~/Content/User/assets/images/icons/cart/cart-5.png" alt="paypal cart"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Area  -->
    </footer>
    <!-- End Footer Area  -->
    <!-- Product Quick View Modal Start -->
    <div class="modal fade quick-view-product" id="quick-view-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="far fa-times"></i></button>
                </div>
                <div class="modal-body">
                    <div class="single-product-thumb">
                        <div class="row">
                            <div class="col-lg-7 mb--40">
                                <div class="row">
                                    <div class="col-lg-10 order-lg-2">
                                        <div class="single-product-thumbnail product-large-thumbnail axil-product thumbnail-badge zoom-gallery">
                                            <div class="thumbnail">
                                                <img src="~/Content/User/assets/images/product/product-big-01.png" alt="Product Images">
                                                <div class="label-block label-right">
                                                    <div class="product-badget">20% @StaticRescouces.ResourceUser.Giam</div>
                                                </div>
                                                <div class="product-quick-view position-view">
                                                    <a href="~/Content/User/assets/images/product/product-big-01.png" class="popup-zoom">
                                                        <i class="far fa-search-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="thumbnail">
                                                <img src="~/Content/User/assets/images/product/product-big-02.png" alt="Product Images">
                                                <div class="label-block label-right">
                                                    <div class="product-badget">20% OFF</div>
                                                </div>
                                                <div class="product-quick-view position-view">
                                                    <a href="~/Content/User/assets/images/product/product-big-02.png" class="popup-zoom">
                                                        <i class="far fa-search-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="thumbnail">
                                                <img src="~/Content/User/assets/images/product/product-big-03.png" alt="Product Images">
                                                <div class="label-block label-right">
                                                    <div class="product-badget">20% OFF</div>
                                                </div>
                                                <div class="product-quick-view position-view">
                                                    <a href="~/Content/User/assets/images/product/product-big-03.png" class="popup-zoom">
                                                        <i class="far fa-search-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 order-lg-1">
                                        <div class="product-small-thumb small-thumb-wrapper">
                                            <div class="small-thumb-img">
                                                <img src="~/Content/User/assets/images/product/product-thumb/thumb-08.png" alt="thumb image">
                                            </div>
                                            <div class="small-thumb-img">
                                                <img src="~/Content/User/assets/images/product/product-thumb/thumb-07.png" alt="thumb image">
                                            </div>
                                            <div class="small-thumb-img">
                                                <img src="~/Content/User/assets/images/product/product-thumb/thumb-09.png" alt="thumb image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 mb--40">
                                <div class="single-product-content">
                                    <div class="inner">
                                        <div class="product-rating">
                                            <div class="star-rating">
                                                <img src="~/Content/User/assets/images/icons/rate.png" alt="Rate Images">
                                            </div>
                                            <div class="review-link">
                                                <a href="#">(<span>1</span> customer reviews)</a>
                                            </div>
                                        </div>
                                        <h3 class="product-title">Serif Coffee Table</h3>
                                        <span class="price-amount">$155.00 - $255.00</span>
                                        <ul class="product-meta">
                                            <li><i class="fal fa-check"></i>In stock</li>
                                            <li><i class="fal fa-check"></i>Free delivery available</li>
                                            <li><i class="fal fa-check"></i>Sales 30% Off Use Code: MOTIVE30</li>
                                        </ul>
                                        <p class="description">In ornare lorem ut est dapibus, ut tincidunt nisi pretium. Integer ante est, elementum eget magna. Pellentesque sagittis dictum libero, eu dignissim tellus.</p>

                                        <div class="product-variations-wrapper">

                                            <!-- Start Product Variation  -->
                                            <div class="product-variation">
                                                <h6 class="title">Colors:</h6>
                                                <div class="color-variant-wrapper">
                                                    <ul class="color-variant mt--0">
                                                        <li class="color-extra-01 active">
                                                            <span><span class="color"></span></span>
                                                        </li>
                                                        <li class="color-extra-02">
                                                            <span><span class="color"></span></span>
                                                        </li>
                                                        <li class="color-extra-03">
                                                            <span><span class="color"></span></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- End Product Variation  -->
                                            <!-- Start Product Variation  -->
                                            <div class="product-variation">
                                                <h6 class="title">Size:</h6>
                                                <ul class="range-variant">
                                                    <li>xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <!-- End Product Variation  -->

                                        </div>

                                        <!-- Start Product Action Wrapper  -->
                                        <div class="product-action-wrapper d-flex-center">
                                            <!-- Start Quentity Action  -->
                                            <div class="pro-qty"><input type="text" value="1"></div>
                                            <!-- End Quentity Action  -->
                                            <!-- Start Product Action  -->
                                            <ul class="product-action d-flex-center mb--0">
                                                <li class="add-to-cart"><a href="cart.html" class="axil-btn btn-bg-primary">Add to Cart</a></li>
                                                <li class="wishlist"><a href="wishlist.html" class="axil-btn wishlist-btn"><i class="far fa-heart"></i></a></li>
                                            </ul>
                                            <!-- End Product Action  -->

                                        </div>
                                        <!-- End Product Action Wrapper  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Quick View Modal End -->



    @Html.Action("SreachBar", "SearchHeader")



    <!-- Header Search Modal End -->
    @*<div class="cart-dropdown" id="cart-dropdown">
            <div class="cart-content-wrap">
                <div class="cart-header">
                    <h2 class="header-title">Xem giỏ hàng</h2>
                    <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
                </div>
                <div class="cart-body">
                    <ul class="cart-item-list">
                        <li class="cart-item">
                            <div class="item-img">
                                <a href="single-product.html"><img src="~/Content/User/assets/images/product/electric/product-01.png" alt="Commodo Blown Lamp"></a>
                                <button class="close-btn"><i class="fas fa-times"></i></button>
                            </div>
                            <div class="item-content">
                                <div class="product-rating">
                                    <span class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </span>
                                    <span class="rating-number">(64)</span>
                                </div>
                                <h3 class="item-title"><a href="single-product-3.html">Wireless PS Handler</a></h3>
                                <div class="item-price"><span class="currency-symbol">$</span>155.00</div>
                                <div class="pro-qty item-quantity">
                                    <input type="number" class="quantity-input" value="15">
                                </div>
                            </div>
                        </li>
                        <li class="cart-item">
                            <div class="item-img">
                                <a href="single-product-2.html"><img src="~/Content/User/assets/images/product/electric/product-02.png" alt="Commodo Blown Lamp"></a>
                                <button class="close-btn"><i class="fas fa-times"></i></button>
                            </div>
                            <div class="item-content">
                                <div class="product-rating">
                                    <span class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </span>
                                    <span class="rating-number">(4)</span>
                                </div>
                                <h3 class="item-title"><a href="single-product-2.html">Gradient Light Keyboard</a></h3>
                                <div class="item-price"><span class="currency-symbol">$</span>255.00</div>
                                <div class="pro-qty item-quantity">
                                    <input type="number" class="quantity-input" value="5">
                                </div>
                            </div>
                        </li>
                        <li class="cart-item">
                            <div class="item-img">
                                <a href="single-product-3.html"><img src="~/Content/User/~/Content/User/assets/images/product/electric/product-03.png" alt="Commodo Blown Lamp"></a>
                                <button class="close-btn"><i class="fas fa-times"></i></button>
                            </div>
                            <div class="item-content">
                                <div class="product-rating">
                                    <span class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </span>
                                    <span class="rating-number">(6)</span>
                                </div>
                                <h3 class="item-title"><a href="single-product.html">HD CC Camera</a></h3>
                                <div class="item-price"><span class="currency-symbol">$</span>200.00</div>
                                <div class="pro-qty item-quantity">
                                    <input type="number" class="quantity-input" value="100">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="cart-footer">
                    <h3 class="cart-subtotal">
                        <span class="subtotal-title">Subtotal:</span>
                        <span class="subtotal-amount">$610.00</span>
                    </h3>
                    <div class="group-btn">
                        <a href="/gio-hang" class="axil-btn btn-bg-primary viewcart-btn">View Cart</a>
                        <a href="checkout.html" class="axil-btn btn-bg-secondary checkout-btn">Checkout</a>
                    </div>
                </div>
            </div>
        </div>*@

    <!-- /.content-header -->
    <!-- Main content -->
    <!-- Modernizer JS -->
    <style>
        df-messenger {
            margin: 0;
            padding: 0;
            position: fixed;
            right: 0;
            transform: translateX(50%) translateY(50%);
            bottom: 90px;
            --df-messenger-bot-message: #bdfcbf;
            --df-messenger-button-titlebar-color: #06B17C;
            --df-messenger-chat-background-color: #fafafa;
            --df-messenger-font-color: black;
            --df-messenger-send-icon: #7ec472;
        }
    </style>
    <script>
        //To minimise the height of chatbox
        $(document).ready(function () {
            window.addEventListener('dfMessengerLoaded', function (event) {
                $r1 = document.querySelector("df-messenger");
                $r2 = $r1.shadowRoot.querySelector("df-messenger-chat");
                $r3 = $r2.shadowRoot.querySelector("df-messenger-user-input"); //for other mods
                var sheet = new CSSStyleSheet;
                // manage box height from here
                sheet.replaceSync(`div.chat-wrapper[opened="true"] { height: 450px }`);
                $r2.shadowRoot.adoptedStyleSheets = [sheet];
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger intent="WELCOME"
                  chat-icon="https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/fc/1f/bf/fc1fbfa0-ae77-cbb9-a365-47dc37d10211/AppIcon-1x_U007emarketing-0-7-0-85-220-0.png/256x256bb.jpg"
                  chat-title="Chatbox bán linh kiện máy tính DV computer"
                  agent-id="ad3e0025-2a92-4da7-8e9a-c44f29b002fe"
                  language-code="vi"></df-messenger>
    <script src="~/Content/User/searchTop/search.js"></script>
    <script src="~/Content/User/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/User/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/User/assets/js/vendor/popper.min.js"></script>
    <script src="~/Content/User/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/User/assets/js/vendor/slick.min.js"></script>
    <script src="~/Content/User/assets/js/vendor/js.cookie.js"></script>
    <!-- <script src="~/Content/User/assets/js/vendor/jquery.style.switcher.js"></script> -->
    <script src="~/Content/User/assets/js/vendor/jquery-ui.min.js"></script>
    <script src="~/Content/User/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/User/assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="~/Content/User/assets/js/vendor/sal.js"></script>
    <script src="~/Content/User/assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/User/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/User/assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="~/Content/User/assets/js/vendor/counterup.js"></script>
    <script src="~/Content/User/assets/js/vendor/waypoints.min.js"></script>

    <!-- Main JS -->
    <script src="~/Content/User/categories_custom.js"></script>
    <script src="~/Content/User/assets/js/main.js"></script>
    <!-- Thêm thư viện SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="~/Content/User/jsShopping2.js"></script>
    <script src="~/Content/jscart5.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var tabs = document.querySelectorAll('.nav-link');

            tabs.forEach(function (tab) {
                tab.addEventListener('click', function () {
                    tabs.forEach(function (innerTab) {
                        innerTab.classList.remove('active');
                        innerTab.setAttribute('aria-selected', 'false');
                    });

                    tab.classList.add('active');
                    tab.setAttribute('aria-selected', 'true');
                });
            });
        });
    </script>
    <style>
        .custom-size-modal {
            width: 450px; /* Set your desired width */
            height: 150px; /* Set your desired height */
        }
    </style>


    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            // Bắt sự kiện click trên phần tử li có class "shopping-cart"
            $(".shopping-cart").on("click", function (e) {
                e.preventDefault(); // Ngăn chặn sự kiện mặc định khi click
                window.location.href = "/gio-hang"; // Chuyển hướng đến trang /gio-hang
            });
        });
    </script>
</body>
</html>
@if (Request.IsAuthenticated)
{
    <div style="display:none">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
        {
            @Html.AntiForgeryToken()}
    </div>}
