@using Models.EF
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<div class="card-body">
    <p class="login-box-msg">Đăng nhập để bắt đầu phiên của bạn</p>
    @using (Html.BeginForm("Login", "Account", new { area = "Admin" }, FormMethod.Post))
    {


        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" });
        <div class="input-group mb-3">
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = StaticRescouces.ResourceUser.TaiKhoan })

            <div class="input-group-append">

                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>

        </div>
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        <div class="input-group mb-3">
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = StaticRescouces.ResourceUser.matkhau })

            @*<input type="password" >*@
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                    @*<input type="checkbox" id="remember">*@
                    @Html.CheckBoxFor(x => x.RememberMe)
                    <label for="remember">
                       @StaticRescouces.ResourceUser.nhotoi
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-4.3">
                <button type="submit" class="btn btn-primary btn-block">@StaticRescouces.ResourceUser.dangnhap</button>
            </div>
            <!-- /.col -->
        </div>

    }
    @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@

    <!-- /.social-auth-links -->
    @*<p class="mb-1">
            <a href="#">I forgot my password</a>
        </p>*@

</div>
