@model PagedList.IPagedList<Models.EF.Category>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = StaticRescouces.ResourceUser.DanhMuc;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">@StaticRescouces.ResourceUser.Trangchu</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/category" class="nav-link">@StaticRescouces.ResourceUser.DanhMuc</a>
        </li>


        @using (Html.BeginForm("ChangeCulture", "BaseAdmin"))
        {
            <div class="dropdown">
                <button id="dropdownCulture" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @StaticRescouces.Resources.tiengadmin
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownCulture">
                    @foreach (var culture in new[]
                    {
                new {value = "vi", text= StaticRescouces.ResourceUser.VietNamese},
                new {value = "en", text= StaticRescouces.ResourceUser.English},
            })
                    {
                        <button type="submit" class="dropdown-item" name="ddlCulture" value="@culture.value">@culture.text</button>
                    }
                </div>
            </div>
            @Html.Hidden("returnUrl", Request.RawUrl)
        }

    </ul>



}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

                @*<h1>@StaticRescouces.Resources.quanlydanhmuc</h1>*@
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home">@StaticRescouces.ResourceUser.Trangchu</a></li>
                    <li class="breadcrumb-item active">@StaticRescouces.ResourceUser.DanhMuc</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@StaticRescouces.Resources.quanlydanhmuc</h3>

            <div class="card-tools">
                <a href="/admin/category/add" class="btn btn-success float-right"><i class="fa fa-plus"></i> @StaticRescouces.Resources.themmoi</a>

            </div>

        </div>
        @if (TempData["AlertMesssage"] != null)
        {
            <div id="AlertBox" class="alert alert-success @TempData["AlertType"] hide">
                @TempData["AlertMesssage"]

            </div>

        }
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@StaticRescouces.Resources.stt</th>
                        <th>@StaticRescouces.Resources.tendanhmuc</th>
                        <th>@StaticRescouces.Resources.thutu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                        foreach (var item in Model)
                        {
                            <tr id="trow_@item.Id">
                                <td>@i</td>
                                <td>@item.Title</td>
                                <td>@item.Position</td>
                                <td>
                                    <a href="/admin/category/edit/@item.Id" class="btn btn-info btn-sm"><i class="fas fa-pencil-alt"></i> @StaticRescouces.Resources.sua</a>
                                    <a href="#" data-id="@item.Id" class="btn btn-danger btn-sm btnDelete"><i class="fas fa-trash"></i>  @StaticRescouces.Resources.xoa</a>
                                </td>
                            </tr>
                            i++;
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="4">@StaticRescouces.Resources.khongcobanghi</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-6">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) </div>
                <div class="col-6" style="text-align:right;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)


                </div>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @if(StaticRescouces.Resources.tiengadmin == "VietNamese")
    {
        <script>
            $(document).ready(function () {
                $('body').on('click', '.btnDelete', function () {
                    var id = $(this).data("id");

                    Swal.fire({
                        title: "Bạn có muốn xóa bản ghi này không?",
                        text: "Hành động này không thể hoàn tác!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Có, hãy xóa nó!",
                        cancelButtonText: "Hủy",
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/Admin/Category/Delete',
                                type: 'POST',
                                data: { id: id },
                                success: function (rs) {
                                    if (rs.success) {
                                        $('#trow_' + id).remove();
                                        toastr.success("Xóa thành công", "Xóa", { timeOut: 1000 });
                                    }
                                    window.location.reload();
                                }
                            });
                        }
                    });
                });
            });

        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                $('body').on('click', '.btnDelete', function () {
                    var id = $(this).data("id");

                    Swal.fire({
                        title: "Do you want to delete this record?",
                        text: "This action cannot be undone!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: "Cancel",
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/Admin/Category/Delete',
                                type: 'POST',
                                data: { id: id },
                                success: function (rs) {
                                    if (rs.success) {
                                        $('#trow_' + id).remove();
                                        toastr.success("Xóa thành công", "Xóa", { timeOut: 1000 });
                                    }
                                    window.location.reload();
                                }
                            });
                        }
                    });
                });
            });

        </script>
    }

}
