@model Models.EF.News
@using Models.Model
@{
    ViewBag.Title = "chi tiết tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-wrapper">
    <!-- Start Blog Area  -->
    <div class="axil-blog-area axil-section-gap">
        <div class="axil-single-post post-formate post-quote">
            <div class="container">
                @if (Model != null)
                {
                    <div class="content-blog format-quote">
                        <div class="inner">
                            <div class="content">
                                <blockquote>
                                    <h4 class="title">
                                        @Model.Title
                                    </h4>
                                </blockquote>
                                <div class="axil-post-meta">
                                    @*<div class="post-author-avatar">
                                            <img src="~/Content/User/assets/images/blog/author-image-1.png" alt="Author Images">
                                        </div>*@
                                    <div class="post-meta-content">
                                        @*<h6 class="author-title">
                                                <a href="#">Theresa Underwood</a>
                                            </h6>*@
                                        <ul class="post-meta-list">
                                            <li>@Model.CreateDate</li>
                                            @*<li>300k Views</li>*@
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
        <!-- End .single-post -->
        <div class="post-single-wrapper position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1">
                        <div class="d-flex flex-wrap align-content-start h-100">
                            <div class="position-sticky sticky-top">
                                <div class="post-details__social-share">
                                    <span class="share-on-text">@StaticRescouces.ResourceUser.chiase:</span>
                                    @{ 
                                        var postUrl = $"{Model.Alias}.html";
                                        var fackbookShare = "http://www.facebook.com/share.php?.u=" + postUrl;
                                        var twiiterShare = "http://twitter.com/share?url=" + postUrl;
                                    }
                                    <div class="social-share">
                                        <a href="@fackbookShare"><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href="@twiiterShare"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-discord"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 axil-post-wrapper">

                        @Html.Raw(@Model.Detail)

                        <div class="axil-comment-area">
                            <h1 class="title">2 comments</h1>
                            <ul class="comment-list">
                                <!-- Start Single Comment  -->
                                <li class="comment">
                                    <div class="comment-body">
                                        <div class="single-comment">
                                            <div class="comment-img">
                                                <img src="~/Content/User/assets/images/blog/author-image-4.png" alt="Author Images">
                                            </div>
                                            <div class="comment-inner">
                                                <h6 class="commenter">
                                                    <a class="hover-flip-item-wrapper" href="#">
                                                        <span class="hover-flip-item">
                                                            <span data-text="Cameron Williamson">Cameron Williamson</span>
                                                        </span>
                                                    </a>
                                                </h6>
                                                <div class="comment-meta">
                                                    <div class="time-spent">Nov 23, 2018 at 12:23 pm</div>
                                                    <div class="reply-edit">
                                                        <div class="reply">
                                                            <a class="comment-reply-link hover-flip-item-wrapper" href="#">
                                                                <span class="hover-flip-item">
                                                                    <span data-text="Reply">Reply</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-text">
                                                    <p>
                                                        Duis hendrerit velit scelerisque felis tempus, id porta libero venenatis. Nulla facilisi. Phasellus viverra magna commodo dui lacinia tempus. Donec malesuada nunc non dui posuere, fringilla vestibulum
                                                        urna mollis. Integer condimentum ac sapien quis maximus.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="children">
                                        <!-- Start Single Comment  -->
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="single-comment">
                                                    <div class="comment-img">
                                                        <img src="~/Content/User/assets/images/blog/author-image-4.png" alt="Author Images">
                                                    </div>
                                                    <div class="comment-inner">
                                                        <h6 class="commenter">
                                                            <a class="hover-flip-item-wrapper" href="#">
                                                                <span class="hover-flip-item">
                                                                    <span data-text="Rahabi Khan">Annie Mario</span>
                                                                </span>
                                                            </a>
                                                        </h6>
                                                        <div class="comment-meta">
                                                            <div class="time-spent">
                                                                Nov 23, 2018 at 12:23 pm
                                                            </div>
                                                            <div class="reply-edit">
                                                                <div class="reply">
                                                                    <a class="comment-reply-link hover-flip-item-wrapper" href="#">
                                                                        <span class="hover-flip-item">
                                                                            <span data-text="Reply">Reply</span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="comment-text">
                                                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse lobortis cursus lacinia. Vestibulum vitae leo id diam pellentesque ornare.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Single Comment  -->
                                    </ul>
                                </li>
                                <!-- End Single Comment  -->
                                <!-- Start Single Comment  -->
                                <li class="comment">
                                    <div class="comment-body">
                                        <div class="single-comment">
                                            <div class="comment-img">
                                                <img src="~/Content/User/assets/images/blog/author-image-5.png" alt="Author Images">
                                            </div>
                                            <div class="comment-inner">
                                                <h6 class="commenter">
                                                    <a class="hover-flip-item-wrapper" href="#">
                                                        <span class="hover-flip-item">
                                                            <span data-text="Rahabi Khan">Thopmson Arnold</span>
                                                        </span>
                                                    </a>
                                                </h6>
                                                <div class="comment-meta">
                                                    <div class="time-spent">Nov 23, 2018 at 12:23 pm</div>
                                                    <div class="reply-edit">
                                                        <div class="reply">
                                                            <a class="comment-reply-link hover-flip-item-wrapper" href="#">
                                                                <span class="hover-flip-item">
                                                                    <span data-text="Reply">Reply</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-text">
                                                    <p>
                                                        Duis hendrerit velit scelerisque felis tempus, id porta libero venenatis. Nulla facilisi. Phasellus viverra magna commodo dui lacinia tempus. Donec malesuada nunc non dui posuere, fringilla vestibulum
                                                        urna mollis. Integer condimentum ac sapien quis maximus.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Single Comment  -->
                            </ul>
                        </div>
                        <!-- End .axil-commnet-area -->
                        <!-- Start Comment Respond  -->
                        <div class="comment-respond">
                            <h4 class="title">Leave a Reply</h4>
                            <form action="#">
                                <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span></p>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Leave a Reply</label>
                                            <textarea name="message" placeholder="Your Comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Name <span>*</span></label>
                                            <input id="name" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Email <span>*</span> </label>
                                            <input id="email" type="email">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-submit">
                                            <button name="submit" type="submit" id="submit" class="axil-btn btn-bg-primary w-auto">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- End Comment Respond  -->
                    </div>
                    <div class="col-lg-4">
                        <!-- Start Sidebar Area  -->
                        <aside class="axil-sidebar-area">

                            <!-- Start Single Widget  -->
                            <div class="axil-single-widget mt--40">
                                <h6 class="widget-title">@StaticRescouces.ResourceUser.baivietmoinhat</h6>
                                @{
                                    var lastNew = (List<Models.EF.News>)ViewBag.LastNew;
                                }
                                <!-- Start Single Post List  -->
                                @foreach (var item in lastNew)
                                {
                                    <!-- Start Single Post List  -->
                                    <div class="content-blog post-list-view mb--20">

                                        <div class="thumbnail">
                                            <a href="@item.Alias">
                                                <img src="@item.Image" alt="@item.Title">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h6 class="title"><a href="blog-details.html">@item.Title</a></h6>
                                            <div class="axil-post-meta">
                                                <div class="post-meta-content">
                                                    <ul class="post-meta-list">
                                                        <li>@item.CreateDate.ToString("ddMMyyyy")</li>
                                                        <li>300k Views</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                }


                            </div>
                            <!-- End Single Widget  -->
                            <!-- Start Single Widget  -->
                            @{
                                var recentProductList = TempData["RecentNewsList"] as List<RecentNews>;
                             
                                string currentLanguage = Session[Models.CommonConstants.CurrentCulture].ToString();
                            }
                            @if (recentProductList != null)
                            {
                                <div class="axil-single-widget mt--40">
                                    <h6 class="widget-title">@StaticRescouces.ResourceUser.tintucxemganday</h6>

                                    <ul class="product_list_widget recent-viewed-product">

                                        <!-- Start Single product_list  -->
                                        @foreach (var recentProduct in recentProductList)
                                        {
                                            <li>
                                                <div class="thumbnail">
                                                    <a href="/chi-tiet/@recentProduct.alas-p@(recentProduct.NewsId)">
                                                        <img src="@recentProduct.image" alt="@recentProduct.NewsName">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h6 class="title"><a href="/chi-tiet/@recentProduct.alas-p@(recentProduct.NewsId)">@recentProduct.NewsName</a></h6>
                                                    @*<div class="product-meta-content">
                                                        @if ((currentLanguage == "vi"))
                                                        {
                                                            if (recentProduct.priceSale > 0)
                                                            {
                                                                <span class="woocommerce-Price-amount amount">

                                                                    <del>@Models.Common.Common.FormatNumber(recentProduct.price, 0) @Html.Raw(StaticRescouces.ResourceUser.Tien)</del>
                                                                    @Models.Common.Common.FormatNumber(recentProduct.priceSale, 0) @Html.Raw(StaticRescouces.ResourceUser.Tien)
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="woocommerce-Price-amount amount">

                                                                    <del>@Models.Common.Common.FormatNumber(recentProduct.price, 0) @Html.Raw(StaticRescouces.ResourceUser.Tien)</del>
                                                                    @Models.Common.Common.FormatNumber(recentProduct.price, 0) @Html.Raw(StaticRescouces.ResourceUser.Tien)
                                                                </span>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (recentProduct.priceSale > 0)
                                                            {
                                                                <span class="woocommerce-Price-amount amount">

                                                                    <del>@Models.Common.Common.FormatNumber(recentProduct.price / 24310, 0) @Html.Raw(StaticRescouces.ResourceUser.Tien)</del>
                                                                    @Models.Common.Common.FormatNumber(recentProduct.priceSale, 0) @Html.Raw(StaticRescouces.ResourceUser.Tien)
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="woocommerce-Price-amount amount">

                                                                    @Models.Common.Common.FormatNumber(recentProduct.price / 24310, 0) @Html.Raw(StaticRescouces.ResourceUser.Tien)

                                                                </span>
                                                            }
                                                        }
                                                    </div>*@
                                                </div>
                                            </li>
                                        }
                                        <!-- End Single product_list  -->
                                        <!-- Start Single product_list  -->
                                        <!-- End Single product_list  -->
                                    </ul>

                                </div>
                            }
                            <!-- End Single Widget  -->
                            <!-- Start Single Widget  -->
                            @*<div class="axil-single-widget mt--40 widget_search">
                                <h6 class="widget-title">Search</h6>
                                <form class="blog-search" action="#">
                                    @using (Html.BeginForm("Index", "News", FormMethod.Get))
                                    {
                                        <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                                        <input type="text" name="name" placeholder="Search">
                                    }

                                </form>
                            </div>*@
                            @{
                               
                                var ListProductcateogry = ViewBag.listProduct as IEnumerable<Models.EF.ProductCategory>;
                            }
                            <div class="axil-single-widget mt--40 widget_tag_cloud">
                                <h6 class="widget-title">@StaticRescouces.ResourceUser.tags</h6>


                                <div class="tagcloud">
                                    @if (ListProductcateogry != null && ListProductcateogry.Any())
                                    {
                                        foreach (var item in ListProductcateogry)
                                        {
                                            if ((currentLanguage == "vi"))
                                            {
                                                <a href="/danh-muc-san-pham/@item.Alias">@item.Title.</a>
                                            }
                                            else
                                            {
                                                <a href="/danh-muc-san-pham/@item.Alias">@item.Title.</a>
                                            }
                                        }

                                    }


                                </div>
                            </div>

                        </aside>
                        <!-- End Sidebar Area -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Area  -->
    <!-- Start Related Blog Area  -->
    <div class="related-blog-area bg-color-white pb--60 pb_sm--40">
        <div class="container">
            <div class="section-title-wrapper mb--70 mb_sm--40 pr--110">
                <span class="title-highlighter highlighter-primary mb--10"> <i class="fal fa-bell"></i>Hot News</span>
                <h3 class="mb--25">Related Blog</h3>
            </div>
            <div class="related-blog-activation slick-layout-wrapper--15 axil-slick-arrow  arrow-top-slide">
                <div class="slick-single-layout">
                    <div class="content-blog">
                        <div class="inner">
                            <div class="axil-gallery-activation axil-slick-arrow arrow-between-side">
                                <!-- Start Single Thumb  -->
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="~/Content/User/assets/images/blog/blog-07.png" alt="Blog Images">
                                    </a>
                                </div>
                                <!-- End Single Thumb  -->
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="blog-details.html">With an Irreverent Twist, AMBUSH® Highlights Converse's Outdoor Heritage</a></h5>
                                <div class="axil-post-meta">
                                    <div class="post-author-avatar">
                                        <img src="~/Content/User/assets/images/blog/author-image-1.png" alt="Author Images">
                                    </div>
                                    <div class="post-meta-content">
                                        <h6 class="author-title">
                                            <a href="#">Leslie Alexander</a>
                                        </h6>
                                        <ul class="post-meta-list">
                                            <li>Feb 17, 2019</li>
                                            <li>300k Views</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .slick-single-layout -->
                <div class="slick-single-layout">
                    <div class="content-blog">
                        <div class="inner">
                            <div class="axil-gallery-activation axil-slick-arrow arrow-between-side">
                                <!-- Start Single Thumb  -->
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="~/Content/User/assets/images/blog/blog-08.png" alt="Blog Images">
                                    </a>
                                </div>
                                <!-- End Single Thumb  -->
                            </div>
                            <div class="content">
                                <h5 class="title">
                                    <a href="blog-details.html">
                                        UCLA Athletics Reaches Multi-Year
                                        Agreement with NIKE, Inc. and Jordan Brand
                                    </a>
                                </h5>
                                <div class="axil-post-meta">
                                    <div class="post-author-avatar">
                                        <img src="~/Content/User/assets/images/blog/author-image-2.png" alt="Author Images">
                                    </div>
                                    <div class="post-meta-content">
                                        <h6 class="author-title">
                                            <a href="#">Julian Vinn</a>
                                        </h6>
                                        <ul class="post-meta-list">
                                            <li>Mar 28, 2020</li>
                                            <li>200k Views</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .slick-single-layout -->
                <div class="slick-single-layout">
                    <div class="content-blog">
                        <div class="inner">
                            <div class="axil-gallery-activation axil-slick-arrow arrow-between-side">
                                <!-- Start Single Thumb  -->
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="~/Content/User/assets/images/blog/blog-09.png" alt="Blog Images">
                                    </a>
                                </div>
                                <!-- End Single Thumb  -->
                            </div>
                            <div class="content">
                                <h5 class="title">
                                    <a href="blog-details.html">
                                        An oral history of the AIM away
                                        message by the people who were there
                                    </a>
                                </h5>
                                <div class="axil-post-meta">
                                    <div class="post-author-avatar">
                                        <img src="~/Content/User/assets/images/blog/author-image-3.png" alt="Author Images">
                                    </div>
                                    <div class="post-meta-content">
                                        <h6 class="author-title">
                                            <a href="#">Ariana Grande</a>
                                        </h6>
                                        <ul class="post-meta-list">
                                            <li>Apr 20, 2021</li>
                                            <li>500k Views</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .slick-single-layout -->
                <div class="slick-single-layout">
                    <div class="content-blog">
                        <div class="inner">
                            <div class="axil-gallery-activation axil-slick-arrow arrow-between-side">
                                <!-- Start Single Thumb  -->
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="~/Content/User/assets/images/blog/blog-08.png" alt="Blog Images">
                                    </a>
                                </div>
                                <!-- End Single Thumb  -->
                            </div>
                            <div class="content">
                                <h5 class="title">
                                    <a href="blog-details.html">
                                        UCLA Athletics Reaches Multi-Year
                                        Agreement with NIKE, Inc. and Jordan Brand
                                    </a>
                                </h5>
                                <div class="axil-post-meta">
                                    <div class="post-author-avatar">
                                        <img src="~/Content/User/assets/images/blog/author-image-2.png" alt="Author Images">
                                    </div>
                                    <div class="post-meta-content">
                                        <h6 class="author-title">
                                            <a href="#">Julian Vinn</a>
                                        </h6>
                                        <ul class="post-meta-list">
                                            <li>Mar 28, 2020</li>
                                            <li>200k Views</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .slick-single-layout -->
            </div>
        </div>
    </div>
    <!-- End Related Blog Area  -->
    <!-- Start Axil Newsletter Area  -->
    @Html.Action("Partial_subcrice", "Home")
    <!-- End Axil Newsletter Area  -->

</main>


