@model Models.EF.RegisterViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = StaticRescouces.ResourceUser.DangKy;
    Layout = null;
}
@{
    MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
    exampleCaptcha.UserInputID = "CaptchaCode";
}


    
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/LoginUser/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template-->
    <link href="~/Content/LoginUser/css/sb-admin-2.min.css" rel="stylesheet">
  
</head>


<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">@StaticRescouces.ResourceUser.taotaikhoandangky</h1>
                            </div>

                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", @class = "user" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-user", placeholder = StaticRescouces.ResourceUser.nhaptaikhoan })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", placeholder = "Email" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control form-control-user", placeholder = StaticRescouces.ResourceUser.hovaten })
                                    @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control form-control-user", placeholder = StaticRescouces.ResourceUser.diachi })
                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })

                                </div>



                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        @Html.DropDownList("ProviceID", new SelectList(new string[] { }), new { @class = "form-control form-control-user", @id = "ddlProvince", style = "padding: 0;" })
                                        @Html.ValidationMessageFor(model => model.ProviceID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.DropDownList("DistrictID", new SelectList(new string[] { }), new { @class = "form-control form-control-user", @id = "ddlDistrict", style = "padding: 0;" })
                                        @Html.ValidationMessageFor(model => model.DistrictID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.DropDownList("WardID", new SelectList(new string[] { }), new { @class = "form-control form-control-user", @id = "ddlWard", style = "padding: 0;" })
                                        @Html.ValidationMessageFor(model => model.DistrictID, "", new { @class = "text-danger" })
                                    </div>
                                </div>















                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", placeholder = StaticRescouces.ResourceUser.matkhau })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-user", placeholder = StaticRescouces.ResourceUser.nhaplaimatkhau })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="input-group">
                                        <span class="input-group-addon">@Html.Captcha(exampleCaptcha)</span>

                                        @Html.TextBox("CaptchaCode", null, new { @class = "form-control form-control-user", placeholder = StaticRescouces.ResourceUser.diencode })
                                        <div style="left:270px" class="col-sm-6">
                                            @Html.ValidationMessageFor(m => m.CaptchaCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    
                                    </div>

                                    <input type="submit" value="@StaticRescouces.ResourceUser.dangkytaikhoan" class="btn btn-primary btn-user btn-block" />


                                    }
                                    @*<hr>
        <a href="index.html" class="btn btn-google btn-user btn-block">
            <i class="fab fa-google fa-fw"></i> Register with Google
        </a>
        <a href="https://localhost:44392/LoignFb/LoginFacebook" class="btn btn-facebook btn-user btn-block">
            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
        </a>*@
                                    <hr>
                                    <div class="text-center">
                                        @*<a class="small" href="forgot-password.html">@StaticRescouces.ResourceUser.quenmatkhau</a>*@
                                        @Html.ActionLink(StaticRescouces.ResourceUser.quenmatkhau, "ForgotPassword", new { @class = "small" })
                                    </div>
                                    <div class="text-center">
                                        @*<a class="small" href="login.html">@StaticRescouces.ResourceUser.taotaikhoandangky</a>*@
                                        @Html.ActionLink(StaticRescouces.ResourceUser.dangnhap, "Login", new { @class = "small" })

                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        var user = {
            init: function () {

                user.loadProvince();
                user.registerEvent();
            },
            registerEvent: function () {
                $('#ddlProvince').off('change').on('change', function () {
                    var id = $(this).val();
                    if (id != '') {
                        user.loadDistrict(parseInt(id));
                    }
                    else {
                        $('#ddlDistrict').html('');
                    }
                });
                $('#ddlDistrict').off('change').on('change', function () {
                    var id = $(this).val();
                    if (id != '') {
                        user.LoadPrecinct(parseInt(id));
                    } else {
                        $('#ddlWard').html('');
                    }
                });
            },
            loadProvince: function () {

                $.ajax({
                    url: '/LoadProvice/LoadProvince',
                    type: "POST",
                    dataType: "json",
                    success: function (response) {
                        if (response.status == true) {
                            var html = '<option value="">--Chọn tỉnh thành--</option>';
                            var data = response.data;
                            $.each(data, function (i, item) {
                                html += '<option value="' + item.ID + '">' + item.Name + '</option>'
                            });
                            $('#ddlProvince').html(html);
                        }
                    }
                })
            },
            loadDistrict: function (id) {
                $.ajax({
                    url: '/LoadProvice/LoadDistricts',
                    type: "POST",
                    data: { provinceID: id },
                    dataType: "json",
                    success: function (response) {
                        if (response.status == true) {
                            var html = '<option value="">--Chọn quận huyện--</option>';
                            var data = response.data;
                            $.each(data, function (i, item) {
                                html += '<option value="' + item.ID + '">' + item.Name + '</option>'
                            });
                            $('#ddlDistrict').html(html);
                        }
                    }
                })
            },
            LoadPrecinct: function (id) {
                $.ajax({
                    url: '/LoadProvice/LoadPrecinct',
                    type: "POST",
                    data: { districtID: id },
                    dataType: "json",
                    success: function (response) {
                        if (response.status == true) {
                            var html = '<option value="">--Chọn phường xã--</option>';
                            var data = response.data;
                            $.each(data, function (i, item) {
                                html += '<option value="' + item.ID + '">' + item.Name + '</option>'
                            });
                            $('#ddlWard').html(html);
                        }
                    }
                })
            }
        }
        user.init();
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/LoginUser/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/LoginUser/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Core plugin JavaScript-->
    <script src="~/Content/LoginUser/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/LoginUser/js/sb-admin-2.min.js"></script>

</body>

</html>


