@model  PagedList.IPagedList<Models.EF.Order>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/order" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

                <h1>Quản lý @ViewBag.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh Sách @ViewBag.Title</h3>



        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>

                        <th>STT</th>

                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Phone</th>
                        <th>Tiền</th>
                        <th>Phương thức thanh toán</th>
                        <th>Trạng thái</th>
                        <th>Ngày tạo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                        foreach (var item in Model)
                        {

                            <tr>
                                <td>@i</td>

                                <td>@item.Code</td>
                                <td>@item.CustomerName</td>
                                <td>@item.Phone</td>
                                <td>
                                    @Models.Common.Common.FormatNumber(item.TotalAmount)
                                </td>
                                <td>
                                @(item.TypePayment==1?"COD":"Chuyển khoản")
                                </td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <span>chưa thanh toán</span>
                                    }
                                    @if (item.Status == 2)
                                    {
                                        <samp>Đã thanh toán</samp>
                                    }
                                    @if (item.Status == 3)
                                    {
                                        <samp>Hoàn thành</samp>
                                    }
                                    @if (item.Status ==4)
                                    {
                                        <samp>Hủy</samp>
                                    }

                                </td>


                                <td>
                                    @item.CreateDate.ToString("dd/MM/yyyy")
                                </td>

                                <td>

                                    <a href="/admin/order/view/@item.Id" class="btn btn-sm btn-success">Xem</a>
                                    <a href="#" class="btn btn-sm btn-danger btnCapNhat" data-id="@item.Id">Cập nhật</a>
                                </td>
                            </tr>
                            i++;
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có bản ghi nào</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="row">
                <div class="col-6">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) </div>
                <div class="col-6" style="text-align:right;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)


                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật trạng thái</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtOrderId" value="0" />
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" id="ddTrangThai">
                        <option value="2">
                            Đã thanh toán
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btnLuu">Lưu</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section scripts{
    <script>
        $(document).ready(function () {
            //$('body').on('click', '.btnDelete', function () {
            //    var id = $(this).data("id");
            //    var conf = confirm('Bạn có muốn xóa bản ghi này không?');
            //    if (conf == true) {
            //        $.ajax({
            //            url: '/Admin/Posts/Delete',
            //            type: 'POST',
            //            data: { id: id },
            //            success: function (rs) {
            //                if (rs.success) {
            //                    $('#trow_' + id).remove();
            //                }

            //            }
            //        });
            //    }

            //});


            //$('body').on('click', '.btnActive', function (e) {
            //    e.preventDefault();
            //    var btn = $(this);
            //    var id = btn.data("id");


            //    $.ajax({
            //        url: '/Admin/Posts/IsActive',
            //        type: 'POST',
            //        data: { id: id },
            //        success: function (rs) {
            //            if (rs.success) {
            //                if (rs.isActive) {
            //                    btn.html("Hiện thị <i class='fa fa-check text-success'></i>");
            //                } else {
            //                    btn.html("Tắt <i class='fa fa-times text-danger'></i>");
            //                }
            //            }


            //        }
            //    });


            //});

            ////su kien check het
            //$('body').on('change', '#SelectAll', function () {
            //    var checkStatus = this.checked;
            //    var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
            //    checkbox.each(function () {
            //        this.checked = checkStatus;
            //        if (this.checked) {
            //            checkbox.attr('selected', 'checked');
            //        }
            //        else {
            //            checkbox.attr('selected', '');
            //        }
            //    });
            //});
            ////su kien xoa het
            //$('body').on('click', '#BtnDeleteAll', function (e) {
            //    e.preventDefault();
            //    var str = "";
            //    var checkbox = $(this).parents('.card').find('tr td input:checkbox');
            //    var i = 0;
            //    checkbox.each(function () {

            //        if (this.checked) {
            //            checkbox.attr('selected', 'checked');
            //            var _id = $(this).val();
            //            if (i === 0) {
            //                str += _id;
            //            }
            //            else {
            //                str += "," + _id;
            //            }
            //            i++;
            //        }
            //        else {
            //            checkbox.attr('selected', '');

            //        }
            //    });
            //    if (str.length > 0) {
            //        var conf = confirm('Bạn có muốn xóa bản ghi này không?');
            //        if (conf === true) {
            //            $.ajax({
            //                url: '/Admin/Posts/DeleteAll',
            //                type: 'POST',
            //                data: { ids: str },
            //                success: function (rs) {
            //                    if (rs.success) {
            //                        location.reload();
            //                    }
            //                }
            //            });
            //        }
            //    }
            //});



            $('body').on('click', '.btnCapNhat', function () {
                var id = $(this).data("id");
                $('#txtOrderId').val(id);
                $('#modal-default').modal('show');
            });
            $('body').on('click', '#btnLuu', function () {
                var id = $('#txtOrderId').val();
                var tt = $('#ddTrangThai').val();
                $.ajax({
                    url: '/admin/Order/UpdateTT',
                    type: 'POST',
                    data: { id: id, trangthai: tt },
                    success: function (res) {
                        if (res.Success) {
                            location.reload();
                        }
                    },

                });
            });



        });



    </script>
}






